.fx{
    display: flex;
}

.fx button{
    margin: 4px;
}

.fx.cl{
    flex-direction: column;
}

.l30{
    left: 30%;
}

.mb20{
    margin-bottom: 20px;
}

.Bottom {
    bottom: 0px;
    position: absolute;
}

.mb60{
 margin-bottom: 60px;
}

.fx-g2{
    flex-grow: 2;
}

.PageContainer{
    padding: 0% 5%;
    margin: 4% 0%;
}

.Polaris-Frame__TopBar{
    padding: 1% 8%;
}

.Polaris-Card+.Polaris-Card{
    margin-top: 0px;
}

.Polaris-Card{
    margin: 20px 5px;
    box-shadow: none;
}

.Feature-Card{
    width: 30%;
    margin: 1% 1%;
    background: #ffffff;
    padding: 18px;
    min-width: 200px;
    min-height: 170px;
}

.Feature-Card .Polaris-DisplayText--sizeSmall {
    font-size: 14px;
}


.Feature-Card .Polaris-Heading{
    margin-bottom: 15px;
}

.Polaris-Frame__TopBar{
    position: absolute;
}

.PageRow {
    padding: 0% 2%;
    display: flex;
    flex-flow: wrap;
}

.CardContainer .Polaris-Card {
    height: 440px;
    width: 250px;
    position: relative;
}

.Footer{

}