.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.PublicHeader{
  height: 120px;
}

.fx{
  display: flex;
}

.jctr{
  justify-content: center;
}

.jend{
  justify-content: flex-end;
}

.tend{
  text-align: end;
}

.actr{
  align-items: center;
}

.grow-2{
  flex-grow: 2;
}

.grow-1{
  flex-grow: 1;
}

.col{
  flex-direction: column;
}

.pb25{
  padding-bottom: 25px;
}

.pt25{
  padding-top: 25px;
}

.Polaris-FormLayout {
  margin-top: -0.5rem;
}

.BannerImage {
  width: 40%;
  height: 40%;
  min-width: 300px;
  max-width: 500px;
}

.login-box {
  max-width: 400px;
}

.MainPage{
  padding: 40px ;
}